:root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-orange: #f39c12;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
}

.logo {
    margin-left: 30px;
    color: var(--color-white);
    margin-left: 50px;
}


.main-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}


.main-menu ul li {
    margin-right: 50px;
    padding: 10px 5px;
    position: relative;
}

.main-menu a {
    text-decoration: none;
    color: var(--color-white);
    transition: color 0.3s ease;
}
  
.main-menu a:hover {
    color: var(--color-orange)
}



/* submenu */

/* .submenu {
    display: none;
} */


/* .submenu a:hover {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
} */

/* .submenu ul {
    display: block;
    margin: 10px;
}

.submenu ul li {
    width: 150px;
    padding: 10px;
} */









/* .main-menu li {
    margin: 0 10px;
    position: relative; 
  }
   
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
}
  
.main-menu li:hover .submenu {
    display: block;
}  */

  